*.log
*.svf
*.scr
*.pyc
*.cmd
*.bak
*.lso
*.elf
/build/.*
/build/WORK/*
/build/wlf*
/build/command.log
/build/all_viol.out
/build/default.svf
/build/vsim_stacktrace.vstf
/build/*.vcd
/build/output/
/build/.tmp
/build/*.json
/build/*.v
/build/work/
!/build/data/random/*
/build/.idea/*
/build/scripts/.idea
!/build/data/log/*
/build/dumpFolder
/build/-p
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
*.pyc
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt

#ignore OS noise

Thumbs.db
.DS_Store
